alembic==0.8.9
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.7
cached-property==1.3.0
cffi==1.13.2
chardet==2.3.0
Click==7.0
cryptography==1.7.1
decorator==4.0.11
docker-compose==1.8.0
docker-py==1.9.0
dockerpty==0.4.1
docopt==0.6.2
dominate==2.3.1
enum34==1.1.6
feedparser==5.1.3
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.0
Flask-Login==0.4.0
Flask-Migrate==2.0.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1
Flask-WTF==0.13.1
funcsigs==1.0.2
functools32==3.2.3.post2
idna==2.2
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==2.5.1
keyring==10.1
keyrings.alt==1.3
Mako==1.0.6
MarkupSafe==1.1.1
mock==2.0.0
musicbrainzngs==0.6
mutagen==1.36
MySQL-python==1.2.5
numpy==1.12.1
pbr==1.10.0
pyasn1==0.1.9
pycparser==2.19
pycrypto==2.6.1
pygobject==3.22.0
pyinotify==0.9.6
pyOpenSSL==17.5.0
python-dateutil==2.5.3
python-editor==1.0.3
pyxdg==0.25
PyYAML==3.12
quodlibet==3.7.1
requests==2.12.4
SecretStorage==2.3.1
six==1.14.0
SQLAlchemy==1.1.4
texttable==0.8.4
urllib3==1.19.1
uTidylib==0.3
visitor==0.1.3
websocket-client==0.37.0
Werkzeug==0.16.0
WTForms==2.1
