{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block body %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-twothird">
      {% if photos %}
        {% for photo in photos %}
          <img src="{{ url_for('static', filename=photo.filename) }}">
          <p> {{ photo.caption }} </p>
          <a href={{ "url_for(photos.gallery)", id=photo.id}}>View</a>
          {% if logged_in = true %}
            <a href={{ "url_for(photos.edit_photo)", id=photo.id}}>Edit</a>
            <a href={{ "url_for(photos.delete_photo)", id=photo.id}}>Delete</a>
          {% endif %}

        {% endfor %}
      {% endif %}

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-third">
      <h1>Categories</h1>

      {% for category in categories %}
        <a href={{ "url_for(photos.gallery)", id=category.id}}>{{ cateogry.name }}</a>
      {% enfor %}

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
