{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<h1>Who am I?</h1>

<p>
  I am a multi-disciplinary hacker in training. Currently I am looking for a job
  working in data analysis. I believe that there is enormous opportunity in analyzing
  data to increase efficiency, making innovations, and benifiting humanity in other ways.
</p>

<h1>What is this Website</h1>
<h2>Blogs</h2>
<p>
  The travel and projects tabs are blogs that describe two very important parts of
  my life.
  Blog posts in the travel tab will describe different adventures I have
  been on while traveling. I have been on three very long trips in my life one to
  Brazil for one year, another to Morocco for four months, and the most recent one
  to Belgium for six months.

  The projects tab contains posts documenting projects that I am working during my
  spare time. These projects could be anything from this website to brewing beer
  to personal data projects.
</p>

<h2>Photos</h2>
<p>
  This contains a selection of photos that I have collected overtime
</p>

<h2>Resume</h2>
<p>
  This contains webpage version of my resume for people to view.
</p>
